:host {
  ::ng-deep {
    .p-tree {
      border: 0;
      padding: 0;

      .p-tree-container {
        .p-treenode {
          .p-treenode-content {
            padding: 0.2em 0.5em;

            .p-tree-toggler {
              display: none;
            }
          }
        }
      }
    }
  }
}
